<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>288912144945-k6uk62492pgtil3sj74vcig6rvuuivdt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.288912144945-k6uk62492pgtil3sj74vcig6rvuuivdt</string>
	<key>API_KEY</key>
	<string>AIzaSyB3T_7hUUsXHlXgrmvBYstdCok6ZG2_9K0</string>
	<key>GCM_SENDER_ID</key>
	<string>288912144945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jstore.JStore</string>
	<key>PROJECT_ID</key>
	<string>jstore-1f21b</string>
	<key>STORAGE_BUCKET</key>
	<string>jstore-1f21b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:288912144945:ios:10a76f2f77e7d5231d3310</string>
</dict>
</plist>